.card {
  width: 520px;
  height: 700px;
  float: left;
  margin: 20px;
}

.dark-theme {
  background-color: black;
}

.text {
  display: block;
  width: 400px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
